* {
    font-family: "Raleway", sans-serif;
    box-sizing: inherit;
}
/* .header{
    height: 50px;
} */
.logo{
    float: left;
}


.menu{
    float: right;
}


.menu-item {
    list-style: none;
    /*tat dau cham truoc the <li>;  */
    background: #ffffff;
    width: 100px;
    border-bottom: 1px solid #fff;
    padding: 0px;
    float: left;
}

.logo {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.banner-info {
    background: url(./images/mac.jpg);
    height: 700px;
    color: #fff;
    padding-top: 150px;
    padding-left: 100px;
    clear: both;
}

.banner-title {
    font-size: 45px;
}

.banner-btn {
    padding: 13px;
    border: none;
    border-radius: 5px;
    background-color: #aaaaaa90;
    color: #fff;
    margin-top: 20px;
}
.about-h{
    text-align: center;
}

.about {
    text-align: center;
    margin-top: 140px;
}

.about-title {
    font-size: 24px;
    font-weight: 400;
}

.about-txt {
    width: 1280px;
    display: flex;
    padding: 0 200px;
    margin-top: 100px;
    text-align: center;
}

.about-txt-desc {
    font-size: 15px;

}
.title-view{
    float: left;
    padding-left: 120px;
    margin-top: 100px;
}
.float-left{
    float: left;
}

.view-our-works{
    padding: 10px;
    background-color: black;
    color: white;
}

.img-view{
    float: right;
    margin-top: 50px;
}

.asd{
    margin-left: 50px;
}


.card {
    width: 21%;
    padding: 0 8px;
    box-shadow: 0px 0px 10px 0px #615f5f;
    margin-bottom: 20px;
    padding-bottom: 10px;
    float: left;
    margin: 20px;

    
}

.user-desc {
    padding: 10px;
    line-height: 1.8;
}

.user-name {
    font-size: 20px;
    font-weight: 400;
}

.user-post {
    opacity: 0.60;
    font-size: 14px;
}

.user-contact {
    /* text-align: center; */
    background: #f1f1f1;
    border-radius: 5px;
    padding: 10px 90px;
    margin-left: 40px;
    color: #000;
}

.sta{
    text-align: center;
    padding: 100px;
    clear: both;
    background-color: #616161;
    color: white;
    
}

.sta-item{
    padding:0 50px;
    text-align: center;
    margin: -80px 40px;
    
}
.sta-num{
    font-size: 36px;
}
.sta-title{
    font-size: 20px;
}


.pricing {
    text-align: center;
}

.package-decs {
    width: 30%;
    border: 1px solid;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px #615f5f;
}
.btn-signup{
    height: 80px;
    background-color: #f1f1f1;
}

.signup {
    text-align: center;
    /* display: block; */
    padding: 10px 20px;
    background: #000000;
    margin-left: 140px;
    color: #fff;
    margin-top: 150px;

}

.img-work{
    display: block;
    float: left;
    padding: 0 9px;
    margin: 20px;
    
}
.img-item-work{
    margin: 40px;
    padding: 10px;
    padding-left: 0;
    padding-top: -50px;
}
.img-work-mar{
    margin: 0 5px;
}